.container-1{
  display:flex;
  padding-left:50px;
}

.container-1 div{
  border: 1px #ccc solid;
  padding:1px;
  
}

.container-2{
  display:flex;
  padding-left:150px;
}

.container-2 div{
  border: 1px #ccc solid;
  padding:1px;
}

.box-1{
  flex:0;
  order:1;
}

.box-2{
  flex:0;
  order:2;
}

.box-3{
  flex:0;
  order:3;
}

.box-4{
  flex:0;
  order:1;
}

.box-5{
   flex:0;
  order:2;
}

body {
  background-color: lightgrey;
}

.profile-favorite {
  height: 200; 
  width: 250; 
  border: 5px solid rgb(225, 133, 133);
  border-radius: 0px;
  max-width: 250px; 
  max-height: 250px;
}

ul {
  list-style: none;
  counter-reset: my-awesome-counter;
}
li {
  counter-increment: my-awesome-counter;
  margin: 0.25rem;
}
li::before {
  content: counter(my-awesome-counter);
  background: #662974;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
}
ol ol li::before {
  background: #DE51FF;
}
ol ol ol li::before {
  background: #EE9EFF;
}

body {
  font-family: 'PT Serif', serif;
}